.piano {
    display: flex;
    position: relative;
    width: 700px;
    height: 200px;
    background-color: #fff;
    border: 2px solid black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}



.white-key {
    width: 23px;
    height: 150px;
    background-color: white;
    border: 1px solid black;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

}

.black-key {
    width: 15px;
    height: 80px;
    top: -72px;
    background-color: black;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    border-radius: 0 0 3px 3px;
}