.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
}

.logo {
  height: 50px;
  width: auto;
}

.dark-mode {
  margin-right: auto;
}

.my-account {
  margin-left: auto;
}

.logo {
  height: 50px;
  width: auto;
}
